# 시작하기

# print() 활용

In [1]:
가격 = 1000
수량 = 10
매출 = 가격 * 수량 
print(매출)

10000

In [10]:
과일목록1='사과' 
과일목록2='바나나'
과일목록3= '체리'
print(과일목록1,과일목록2,과일목록3,sep='>')#sep=', \t, \n'

사과>바나나>체리

In [5]:
과일목록3='바나나'
print(과일목록2,과일목록3)

바나나 바나나

# 데이터 타입

In [1]:
data='12345'
data

TypeError: can only concatenate str (not "int") to str

In [2]:
name='검은수염'
age= 20 
print("이름: {}, 나이: {}".format(name, age))# format-string
print(f"이름: {name}, 나이: {age}")# f-string

이름: 검은수염, 나이: 20
이름: 검은수염, 나이: 20

In [4]:
# 기본 입력
name = input("이름을 입력하세요: ")
print(f"입력한 이름:{name}")

# 숫자 입력 (문자열을 숫자로 변환)
age = int(input("나이를 입력하세요: "))
print(f"내년 나이:{age + 1}")

이름을 입력하세요:  제하하하하

입력한 이름:제하하하하

나이를 입력하세요:  60

내년 나이:61

In [8]:
age=int(input('나이'))
type(age)

나이 11

int

In [9]:
age='10'
type(age)

str

In [10]:
age=20.8
type(age)

float

In [ ]:
student_name='Ye'
name_1='Ye'

In [11]:
1_name='춘배'

SyntaxError: invalid decimal literal (2122092739.py, line 1)

In [ ]:
x=10
a=20

In [ ]:
PI = 3.141592 #constant 상수

In [ ]:
MAX_VALUE = 1000
MIN_VALUE = 0

In [14]:
print([1.7])
print(abs(1.7))

[1.7]
1.7

In [ ]:
"".format()

In [22]:
a=30,20,10 #packing
type(a),a
b= 30,
type(b)

tuple

In [29]:
x=30;y=20;z=10
x,z

(30, 10)

In [30]:
a=10
b=a
a,b

(10, 10)

In [31]:
id(a),id(b)

(140725065640664, 140725065640664)

In [34]:
a=10
id(a),id(b)

(140725065640664, 140725065640664)

In [ ]:
user_name='덕배' #snake
userName='덕배' # came
username='덕배'
_name='덕배'#private
__name__='덕배'# dunder

In [35]:
a= 'hi'
b='Hi'
id(a) , id(b)

(140725065683424, 1903958336944)

In [38]:
a='Hi'
id(a),id(b)

(1903958336944, 1903958336944)

# 변수의 영역 namespace
지역함수 영역함수

In [44]:
def local_exam(): # 사용자 정의 함수
    local_var=100
    print(f"함수내부:{local_var}")

local_exam()
local_var=200
local_exam()
print(f"함수외부:{local_var}")

함수내부:100
함수내부:100
함수외부:200

In [59]:
counter=0
def inc_counter():
     global counter
     counter +=1
     print(counter)
inc_counter()
inc_counter()
inc_counter()

1
2
3

In [60]:
pr

hello world

In [37]:
print("Hello world !")
print (32)
print('hi')
32*2
3000**2
print("오늘의 매출은:",3000,"원 이다")

Hello world !
32
hi
오늘의 매출은: 3000 원 이다

In [24]:
growth = (3500-2000)/2000*100
print("요번달 성장률은:",growth,'%',"             ","이다")

요번달 성장률은: 75.0 %               이다

In [38]:
이달매출 =int(input(' 이번달매출입력'))
지난달매출=int(input('지난달매출입력'))
growth = (이달매출-지난달매출)/지난달매출*100
print("요번달 성장률은:",growth,'%'," ","이다")

 이번달매출입력 5000
지난달매출입력 4000

요번달 성장률은: 25.0 %               이다

In [2]:
name=str(input("니놈의 이름은 뭐냐??"))
print(name+"님!","반갑습니다~")

니놈의 이름은 뭐냐?? 젠장 에이스 이 공격은 대체 뭐냐

젠장 에이스 이 공격은 대체 뭐냐 님! 반갑(담배10개아님)습니다~