# 리스트
[] 로 여러값을 하나의 변수로 묶어주는 자료구조

In [10]:
score=[20,30 ,50 ,90, 100]
score[0]
score[-1],score[4]

(100, 100)

In [15]:
fruits=["사과","바나나","포도"]
mixed=['사과',20,'바나나',30,True]
Matrix=[[1, 2 ],[3, 4 ]]
Matrix[1][1]

4

In [16]:
str(fruits)

"['사과', '바나나', '포도']"

In [25]:
s_list='Hello'
new=list(s_list)
type(new),new
new[0]='h'
new

['h', 'e', 'l', 'l', 'o']

In [27]:
''.join(new) # method

'hello'

In [ ]:
#method , function 함수

In [28]:
list('hello')# 문자열로 리스트 생성

['h', 'e', 'l', 'l', 'o']

In [30]:
[1,2,3,4]# 리스트

[1, 2, 3, 4]

In [42]:
list(range(-1,6))

[-1, 0, 1, 2, 3, 4, 5]

In [44]:
a=list(range(2,20,2))
type(a)

list

In [45]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## 복사, 얕은 복사 shallow copy

In [52]:
score=[10,20,30,40,50]
new_score=score[:]
new_score

[10, 20, 30, 40, 50]

In [61]:
new_score[0]=100
score=new_score
score

[100, 20, 30, 40, 50]

## 깊은복사

In [62]:
import copy
new_score_1=copy.copy(score)
new_score_1[1]=99
new_score_1,score

([100, 99, 30, 40, 50], [100, 20, 30, 40, 50])

# 리스트의 연산자 + *

In [66]:
점심1=['짬뽕','개사료']
점심2=['짱깨','민트초코 아이스블라스트 불닭볶음면']
점심1+점심2
점심1*2

['짬뽕', '개사료', '짬뽕', '개사료']

In [72]:
'개밥' in 점심1

False

In [73]:
'a' in 'abvc'

True

In [103]:
snack_box=[]
new_snack=input('간식').split(',')
snack_box += new_snack
snack_box
print(snack_box[::-1])

간식 개사료,짬밥

['짬밥', '개사료']

In [89]:
n=int(input('몇박스 필요?'))
snack_box *= n
snack_box

몇박스 필요? 4

['짬밥', '개밥', '짬밥', '개밥', '짬밥', '개밥', '짬밥', '개밥']

In [97]:
del_n=int(input("뺼 간식번호"))-1
del snack_box[del_n]
snack_box

뺼 간식번호 1

[' 츄르']

In [100]:
f_name = input ('찾는 간식이름 말해라')
if f_name in snack_box:
    print('있어요!!')
else:
    print ('없어요')

찾는 간식이름 말해라 개사료

있어요!!

## ==, is

In [3]:
lunch_1=['주먹밥','치킨','칼국수']
lunch_2=['주먹밥','치킨','칼국수']
id(lunch_1)==id(lunch_2)

False

In [4]:
(lunch_1)is(lunch_2)

False

In [45]:
students=[{'num':1,'name':'kim','kor':80,'math':90,'eng':80},
          {'num':2,'name':'park','kor':70,'math':100,'eng':60},
          {'num':3,'name':'ye','kor':50,'math':60,'eng':88},
          {'num':4,'name':'kane','kor':80,'math':60,'eng':90},
          {'num':5,'name':'ya','kor':50,'math':30,'eng':60}]

In [13]:
students[2]['kor']

50

In [52]:
for s in students:
    s['average']=(s['kor']+s['math']+s['eng'])/3
    print (s)

{'num': 1, 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 80, 'total': 250, 'average': 83.33333333333333}
{'num': 2, 'name': 'park', 'kor': 70, 'math': 100, 'eng': 60, 'total': 230, 'average': 76.66666666666667}
{'num': 3, 'name': 'ye', 'kor': 50, 'math': 60, 'eng': 88, 'total': 198, 'average': 66.0}
{'num': 4, 'name': 'kane', 'kor': 80, 'math': 60, 'eng': 90, 'total': 230, 'average': 76.66666666666667}
{'num': 5, 'name': 'ya', 'kor': 50, 'math': 30, 'eng': 60, 'total': 140, 'average': 46.666666666666664}

# 리스트의 정렬

In [37]:
num=[5,2,9,3,4]
new_num=sorted(num)

In [39]:
num

[5, 2, 9, 3, 4]

In [38]:
new_num

[2, 3, 4, 5, 9]

In [ ]:
#리스트 method

In [64]:
과일=['복숭아','바나나','두리안']
과일.append('멜론')
과일.insert(0,'망고')
과일.remove('바나나')
과일.pop(2)
과일.reverse()
과일

['멜론', '복숭아', '망고']

# 리스트의 특징

In [85]:
range(-100,100)
data=list(range(-100,100))
print(len(data))

200

In [91]:
new=[]
for x in data : 
    if x > 0 : 
       new.append(x)
new

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [95]:
a=[1,3,5,4,2]
new_a=sorted(a)
new_a[::-1]

[5, 4, 3, 2, 1]

In [100]:
b=['life','is','to','short']
c=' '.join(b)
c

'life is to short'

In [109]:
d=[1,3,5,7,9]
d+=[d.pop(0)]
d

[3, 5, 7, 9, 1]

# 튜플

In [114]:
tuple1=(1,2,3)
tuple1,type(tuple1)

((1, 2, 3), tuple)

In [112]:
1,2,3

(1, 2, 3)

In [116]:
tuple2=tuple([1,2,3])
tuple2

(1, 2, 3)

In [119]:
t3 = (2)
t3,type(t3)

(2, int)

In [120]:
t3 = (2,)
t3,type(t3)

((2,), tuple)

In [125]:
t=(10,20,30,40,50)
t[::-1]

(50, 40, 30, 20, 10)

In [126]:
t[0]=20

TypeError: 'tuple' object does not support item assignment

In [130]:
t_list=list(t)
t_list[0]=20
new=tuple(t_list)
new

(20, 20, 30, 40, 50)

In [ ]:
# packing und unpacking

In [2]:
nums=[1,2,3]
nums

[1, 2, 3]

In [6]:
nums=(1,2,3) 
x,y,z = nums
x,y,z,nums # 언패킹 (투플)

(1, 2, 3, (1, 2, 3))

In [8]:
student = ['hong',20,'1 학년']
student[0] +" "+ str(student[1])+" "+ student[2]

'hong 20 1 학년'

In [9]:
student_tup=tuple(student)
student_tup

('hong', 20, '1 학년')

In [12]:
name,age,grade= ('hong', 20, '1 학년')
name + str(age) + grade

'hong201 학년'

In [19]:
x=1
y=2
# x=2 ,y=1
x,y = y,x

In [20]:
x,y

(2, 1)

# dictionary

In [25]:
person  ={'name':'김춘배','age':25,'city': ' 해병성채' }
person2 ={'name':'견쌍섭','age':45,'city': ' 해병성채' }
person2['name'],person['age'],person['city']

('견쌍섭', 25, ' 해병성채')

In [28]:
for per in person.items():
    print(per) # key:value 1쌍

('name', '김춘배')
('age', 25)
('city', ' 해병성채')

In [30]:
for per, val in person.items():
    print (per,val)

name 김춘배
age 25
city  해병성채

In [34]:
person.get('age')

25

In [35]:
person = {"이름": "Alice", "나이": 25}
person.update({"나이": 26, "직업": "개발자"})
print(person)  # {'이름': 'Alice', '나이': 26, '직업': '개발자'}

{'이름': 'Alice', '나이': 26, '직업': '개발자'}

In [36]:
print(person.get("직업", "정보 없음"))  # "정보 없음"

d = {"a":1, "b":2}
print( list(d.keys()) )
print( list(d.values()) )
for k,v in d.items() :
	print(k,v)

print(d.get("x",0) )

개발자
['a', 'b']
[1, 2]
a 1
b 2
0

In [37]:
person = {"이름": "Alice", "나이": 25, "도시": "서울"}

# 값 추가
person["직업"] = "개발자"

# 값 수정
person["나이"] = 26

# 키 삭제
del person["도시"]

In [38]:
print(person.keys())     # dict_keys(['이름', '나이', '직업'])
print(person.values())   # dict_values(['Alice', 26, '개발자'])
print(person.items())    # dict_items([('이름', 'Alice'), ('나이', 26), ('직업', '개발자')])
print(person.pop("나이"))# 26

dict_keys(['이름', '나이', '직업'])
dict_values(['Alice', 26, '개발자'])
dict_items([('이름', 'Alice'), ('나이', 26), ('직업', '개발자')])
26

# 집합

In [41]:
집합1=set({1,2,3,4})
집합2=set({1,2,3,4,4,3})
집합2

{1, 2, 3, 4}

In [45]:
집합3=set([1,2,3,4]*10)
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# 집합연산
union(),diiference(),intersection()

In [46]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)  # {1, 2, 3, 4, 5, 6} (합집합)
print(A & B)  # {3, 4} (교집합)
print(A - B)  # {1, 2} (차집합)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}