In [6]:
import pymysql
con = pymysql.connect(host='localhost',
                      user='root',
                      password='1234',
                      db='wntrade',
                      charset='utf8')
cursor=con.cursor()

In [7]:
cursor

In [8]:
cursor.execute("show tables")

7

In [10]:
for row in cursor.fetchall():
     print(row)

('고객',)
('마일리지등급',)
('부서',)
('사원',)
('제품',)
('주문',)
('주문세부',)

In [11]:
sql="""

select 사원번호,이름,부서명
from 사원 left join 부서 
on 사원.부서번호=부서.부서번호

"""

In [12]:
cursor.execute(sql)

10

In [13]:
for row in cursor.fetchall():
     print(row)

('E01', '이소미', '영업부')
('E02', '배재용', '기획부')
('E03', '유대현', '영업부')
('E04', '최소민', '영업부')
('E05', '안주훈', '영업부')
('E06', '이현진', '영업부')
('E07', '오영수', '영업부')
('E08', '선하라', '개발부')
('E09', '유가을', '영업부')
('E10', '정수진', None)

In [14]:
cursor.close()
con.close()