### SERIES

In [1]:
import pandas as pd

Column unt index  format => save, manage 
* column- 1-dimentional 
dataframe: col + index, execel-table(~)
Series ~ list

In [ ]:
s1=pd.Series([10,20,30]) #__init__(self,리스트 객체)
s1[1]

np.int64(20)

In [ ]:
col_idx=['A','B','C']
data=[10,20,30]
s2=pd.Series(data,col_idx) # dtype

In [ ]:
s2['A':'C'] # 슬라이싱

A    10
B    20
C    30
dtype: int64

In [3]:
dict_data={'A':10,'B':20,'C':30}
type(dict_data)
s3=pd.Series(dict_data)

In [20]:
s3

A    10
B    20
C    30
dtype: int64

In [7]:
population = pd.Series([9776, 2729, 1566, 3158], 
                    index=['서울', '부산', '인천', '대구'])
print(population['서울'])  # 9776 출력
print(population[['서울', '부산']])  # 서울과 부산의 데이터만 선택

9776
서울    9776
부산    2729
dtype: int64

In [8]:
population['제주']=20

In [9]:
population

서울    9776
부산    2729
인천    1566
대구    3158
제주      20
dtype: int64

In [ ]:
s3.dtypes # 객체의 속성

dtype('int64')

In [5]:
s3.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, A to C
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

# dataframe 생성

In [13]:
# 리스트로 데이터프레임 생성
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

df = pd.DataFrame(data)
print(df)

# 열 이름 지정하여 생성
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df = pd.DataFrame(data,index=['A','B','C'])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   0  1  2
A  1  2  3
B  4  5  6
C  7  8  9

In [14]:
import numpy as np
import pandas as pd

# 2차원 넘파이 어레이 생성
arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

# 데이터프레임 생성
df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
# 시리즈 생성
names = pd.Series(['김철수', '이영희', '박민수'])
ages = pd.Series([25, 28, 22])
scores = pd.Series([85, 92, 78])

# 시리즈를 딕셔너리로 묶어 데이터프레임 생성
df = pd.DataFrame({
    '이름': names,
    '나이': ages,
    '점수': scores
})
print(df)

    이름  나이  점수
0  김철수  25  85
1  이영희  28  92
2  박민수  22  78

In [16]:
import pandas as pd

# 샘플 데이터프레임 생성
data = {
    '이름': ['김철수', '이영희', '박민수', '정수진', '최영호', '한미래', '윤지원'],
    '나이': [25, 28, 22, 31, 27, 24, 29],
    '점수': [85, 92, 78, 95, 88, 73, 91]
}
df = pd.DataFrame(data)

# 처음 5개 행 보기
print("=== head() ===")
print(df.head())

# 마지막 3개 행 보기
print("\n=== tail(3) ===")
print(df.tail(3))

# 데이터프레임 기본 정보
print("\n=== info() ===")
print(df.info())

# 기술 통계량
print("\n=== describe() ===")
print(df.describe())

=== head() ===
    이름  나이  점수
0  김철수  25  85
1  이영희  28  92
2  박민수  22  78
3  정수진  31  95
4  최영호  27  88

=== tail(3) ===
    이름  나이  점수
4  최영호  27  88
5  한미래  24  73
6  윤지원  29  91

=== info() ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      7 non-null      object
 1   나이      7 non-null      int64
 2   점수      7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 296.0+ bytes
None

=== describe() ===
              나이         점수
count   7.000000   7.000000
mean   26.571429  86.000000
std     3.101459   7.958224
min    22.000000  73.000000
25%    24.500000  81.500000
50%    27.000000  88.000000
75%    28.500000  91.500000
max    31.000000  95.000000

In [ ]:
inplace>> 새로운 df 복사본애서 확인하는 방법이 안전

In [17]:
df.describe

<bound method NDFrame.describe of     이름  나이  점수
0  김철수  25  85
1  이영희  28  92
2  박민수  22  78
3  정수진  31  95
4  최영호  27  88
5  한미래  24  73
6  윤지원  29  91>

## 인덱싱[]

* iloc[] 행기반 인덱싱
* loc[] 이름기반(위치) 인덱싱

-: >> start : end 까지 슬라이싱

In [ ]:
#df[['이름','나이']]
# df.loc[row_selection, column_selection]
df.loc[:, ['이름', '나이']] # loc[행,열]

    이름  나이
0  김철수  25
1  이영희  28
2  박민수  22
3  정수진  31
4  최영호  27
5  한미래  24
6  윤지원  29

In [24]:
df.iloc[0:3,0:3]

    이름  나이  점수
0  김철수  25  85
1  이영희  28  92
2  박민수  22  78