### SERIES

In [1]:
import pandas as pd

In [11]:
s1=pd.Series([10,20,30])
s1[1]

np.int64(20)

In [14]:
col_idx=['A','B','C']
data=[10,20,30]
s2=pd.Series(data,col_idx)

In [17]:
s2['A':'C']

A    10
B    20
C    30
dtype: int64

In [19]:
dict_data={'A':10,'B':20,'C':30}
type(dict_data)
s3=pd.Series(dict_data)

In [20]:
s3

A    10
B    20
C    30
dtype: int64

In [21]:
population = pd.Series([9776, 2729, 1566, 3158], 
                    index=['서울', '부산', '인천', '대구'])
print(population['서울'])  # 9776 출력
print(population[['서울', '부산']])  # 서울과 부산의 데이터만 선택

9776
서울    9776
부산    2729
dtype: int64