# 반복문

## for 문

In [1]:
type(range(10))

range

In [4]:
for i in range(10):
    if i %4 == 0:
        print (i)

0
4
8

In [6]:
kprint (range(0,100,4))

range(0, 100, 4)

In [8]:
data=[0,1,2,3,4]
for vard in data:
    print(vard)

0
1
2
3
4

In [12]:
#문자열 순화
password='1q2w3e4r!'
isUpper=False
isDigit=False
isSpecial = False
isLower= False
special_char="!@#$?%"
for a in password:
    if a.isUpper:
      isupper=True 
    elif  a.isDigit:
      isdigit = True
    elif a.isLower():
       isLower =True
    elif a in special_char:
        isSpecial= True
    check_result=isUpper+ isDigit+isSpecial+isLower

AttributeError: 'str' object has no attribute 'isUpper'

In [14]:
obj= range(1,4)
dir(obj)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [16]:
visitor=[101,102,103,104,102,105,101]
unique_v=set(visitor)
unique_v

{101, 102, 103, 104, 105}

In [17]:
print(f' 총방문자수:{len(visitor)}')
print(f' 방문자수:{len(unique_v)}')

 총방문자수:7
 tns방문자수:5

## 중첩반복문

In [18]:
for i in range(1,10):
	for j in range(1,10) :
		print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [24]:
for i in range(1,10):
  for j in range(1,10):
    if i%2 ==1:
       print(f'{i}*{j}={i*j}')

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

# 내장함수 enumerate()

In [26]:
char_list = ['a', 'b', 'c']

for x in char_list:
    print(x)

for i, v in enumerate(char_list): 
    print(i,v)

a
b
c
0 a
1 b
2 c

In [30]:
list(enumerate(char_list,1))

[(1, 'a'), (2, 'b'), (3, 'c')]

# 내장함수 zip()

In [33]:
char_list_1=['hello','hi','good-bye']
list(zip(char_list,char_list_1))

[('a', 'hello'), ('b', 'hi'), ('c', 'good-bye')]

In [37]:
for item in zip(char_list,char_list_1):
    print(item[1])

hello
hi
good-bye

In [38]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['서울', '부산', '대구']

for name, age, city in zip(names, ages, cities):
    print(f"{name}은(는) {age}살이고 {city}에 살고 있습니다.")

Alice은(는) 25살이고 서울에 살고 있습니다.
Bob은(는) 30살이고 부산에 살고 있습니다.
Charlie은(는) 35살이고 대구에 살고 있습니다.

In [7]:
import datetime
year=int(input("연"))
month=int(input("월"))
date = int(input("일"))
a=datetime.date(year,month,date).weekday()
weekday=['월','화','수','목','금','토','일']
print(f'{weekday[a]} 요일입니다')

연 2025
월 3
일 15

토 요일입니다

In [ ]:
# 총일수 %7 -> calc_day
# 입력일: 2025-10-5
# 년도:1-2024 *365/366 
# 월 : 1~9 월 *31,28,29,30

In [8]:
year,month,date

(2025, 3, 15)

In [19]:
total_days=0
for i in range(1,year):
    if i % 400==0:
       total_days +=366
    elif i% 100 ==0:
       total_days +=365
    elif i % 4 ==0 :
       total_days +=366
    else:
       total_days +=365
month_days=[0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
   total_days += month_days[m]
if month >=3:
    if year % 400==0:
       total_days +=1
    elif year% 100 ==0:
       total_days +=0
    elif year % 4 ==0 :
       total_days +=1
    else:
       total_days +=0
total_days +=0
remain= total_days%7
result=None

if remain==0: 
   result='일'
elif remain==1 : 
   result='월'
elif remain==2 : 
   result='화'
elif remain==3 : 
   result='수'
elif remain==4 : 
   result='목'
elif remain==5 : 
   result='금'
elif remain==6 : 
   result='토'

In [20]:
students = [{'num':'1','name':'kim', 'kor':80,'math':90,'eng':100,},
            {'num':'2','name':'park', 'kor':90,'math':60,'eng':80,},
            {'num':'3','name':'hong', 'kor':70,'math':70,'eng':80,},
            {'num':'4','name':'hong1', 'kor':70,'math':70,'eng':80,},
            {'num':'5','name':'hong2', 'kor':70,'math':70,'eng':80,},
           ]

In [38]:
# 총점,평균,순위-> 속성추가 -> 출력
# 전체 총점 평균 출력
# 과목별 평균 출력
students = [
    {'num':'1','name':'kim', 'kor':80,'math':90,'eng':100},
    {'num':'2','name':'park', 'kor':90,'math':60,'eng':80},
    {'num':'3','name':'hong', 'kor':70,'math':70,'eng':80},
    {'num':'4','name':'hong1', 'kor':70,'math':70,'eng':80},
    {'num':'5','name':'hong2', 'kor':70,'math':70,'eng':80},
]

# 1. 개인별 총점 및 평균 속성 추가
for s in students:
    s['total'] = s['kor'] + s['math'] + s['eng']
    s['avg'] = s['total'] / 3

# 2. 전체 총점 및 전체 평균 계산
total_sum = 0
for s in students:
    total_sum += s['total']

total_avg = total_sum / (len(students) * 3)

print("-" * 55)
print(f"전체 학생 총점 합계: {total_sum}점")
print(f"전체 학생 평균 점수: {total_avg:.2f}점")

# 3. 과목별 평균 계산
kor_total = 0
math_total = 0
eng_total = 0

for s in students:
    kor_total += s['kor']
    math_total += s['math']
    eng_total += s['eng']

num_of_students = len(students)
print("\n--- [과목별 평균] ---")
print(f"국어 평균: {kor_total / num_of_students:.1f}점")
print(f"수학 평균: {math_total / num_of_students:.1f}점")
print(f"영어 평균: {eng_total / num_of_students:.1f}점")

-------------------------------------------------------
전체 학생 총점 합계: 1160점
전체 학생 평균 점수: 77.33점

--- [과목별 평균] ---
국어 평균: 76.0점
수학 평균: 72.0점
영어 평균: 84.0점

# while 문

In [47]:
sum=0 # 초기화
for i in range(1,11):
    sum += i 
sum # 출력

55

In [5]:
i=1
sum=0
while True:
    sum+=i
    i+=1
    if i>=10:
        break
print(sum,i)

45 10

In [8]:
user_input=""
while user_input !="Exit":
       # True 인 동안만
       user_input=input("명령을 입력하세용")
       print("쬬와요 쬬와요 물걸레질 쬬와요")

명령을 입력하세용 Exit

쬬와요 쬬와요 물걸레질 쬬와요

In [11]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [16]:
i=1
while i <6:
      print('*'*i)
      i+=1

*
**
***
****
*****

# 업앤 다운 게임

In [21]:
import random
number = random.randint(1,10)
number

1

In [26]:
# 정답
cnt=0
while True: 
    # 입력
    answer=int(input("1-10 사이까지 넣어라"))
    cnt +=1
    if answer == number:
       print(f"앙 축하띠,도전횟수{cnt}")
       break 
    elif answer > number:
       print('down')
    else:
       print('up')

1-10 사이까지 넣어라 1

앙 축하띠,도전횟수1